<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
      <title>&lt;code&gt;laborate</title>
      <%= csrf_meta_tags %>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1">
   </head>
   <body>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <nav class="nav navbar-nav navbar-right">
         <ul id='nav-bar' class="nav nav-pills">
            <li role="presentation"><%= link_to " Home", "/" %> </li>
            <li role="presentation"><%= link_to " About", "/about" %></li>
            <li role="presentation"><%= link_to " FAQ", "/FAQ" %></li>
            <li role="presentation"><%= link_to " Past Projects", "/past_projects"%> </li>
            <% if current_user %>
            <% if !current_user.org_affiliate %>
            <li role="presentation"><%= link_to 'Projects', projects_path, :class => 'navbar-link' %> </li>
            <% end %>
            <% else %>
            <li role="presentation"><%= link_to "Sign up", new_user_registration_path(anchor: "dev"), :class => 'navbar-link nav-bar-right' %></li>
            <li role="presentation"><%= link_to "Login", new_user_session_path(anchor: "org"), :class => 'navbar-link nav-bar-right'  %> </li>
            <% end %>
            <% if current_user %>
            <% if current_user.org_affiliate %>
            <li role="presentation"><%=link_to "Profile", new_organization_path%></li>
            <% else %>
            <li role="presentation"><a href= "/users/<%= current_user.id %>">Profile</a></li>
            <% end %>
            <li role="presentation"><%= link_to "Logout", destroy_user_session_path, method: :delete %> </li>
            <% end %>
         </ul>
      </nav>
      <div class="jumbotron row">
         <div class="container col-md-12">
            <div id="mycarousel" class="carousel-fade" data-ride="carousel">
               <div class="carousel-inner" role="listbox">
                  <div class="item active">
                     <%= image_tag('sanfrancisco-header.jpg', alt: "Image of San Francisco skyline") %>
                     <div class="carousel-caption">
                        <h1> &lt;code&gt;laborate </h1>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="developer-profile">
        <input type="hidden" name="user_id" value=<%= @user.id %>>
      <div class="container">
         <div class="row">
               <div class="panel panel-info">
                  <div class="panel-heading" id="panel-body-developer">
                     <h3 class="panel-title" id="developer-profile-header">Welcome, <%=@user.first_name%></h3>
                  </div>
                  <div class="panel-body" id="panel-body-dev">
                     <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center"> <%= image_tag('company-profile-default-logo.jpg', alt: "Organization Image")%> </div>
                        <div class=" col-md-9 col-lg-9 ">
                           <table class="table table-user-information">
                              <tbody>
                                 <tr>
                                    <td>Name:</td>
                                    <td><%= @user.first_name%> <%= @user.last_name %></td>
                                 </tr>
                                 <tr>
                                    <td>Public Profile:</td>
                                    <td><%= @user.public_profile_url%></td>
                                 </tr>
                                 <tr>
                                    <td>Bootcamp:</td>
                                    <td><%= @user.bootcamp %></td>
                                  </tr>
                                  <tr>
                                    <td>Email:</td>
                                    <td><%= @user.email%></td>
                                  </tr>
                                  <tr>
                                    <% if !@user.bookmarked_projects.empty? %>
                                    <td>Bookmarks:</td>
                                    <td>
                                       <ul>
                                       <% @user.bookmarked_projects.each do |project| %>
                                       <li><a href="/projects/<%= project.id %>"><%= project.title %></a></li>
                                       <% end %>
                                       </ul>
                                    </td>
                                    <% end %>
                                  </tr>
                               </tbody>
                           </table>
                          </div>
                        </div>
                        <div class="clearFloat">
                           <%= button_to "Delete Account", user_path(current_user), class: "btn btn-default", id:"delete-account", :method => :delete, data: { confirm: "Are you sure?" } %>
                             <%= button_to "Edit Account", edit_user_path(@user), class: "btn btn-default display-edit-developer", id:"edit-account", :method => :get %>
                        </div>
                     </div>
                  </div>

               </div>
            </div>
         </div>
      </div>
    </div>
        <div class="footer">
         <footer>
            <h1 id="footer-code">&lt;&#47;code&gt;</h1>
         </footer>
        </div> 

