<div>
  <h1>Profile</h1>
  <p>first_name: <%= @user.first_name%></p>
  <p>last_name: <%= @user.last_name%></p>
  <p>public_profile_url: <%= @user.public_profile_url%></p>
  <p>bootcamp: <%= @user.bootcamp%></p>
  <p>email: <%= @user.email%></p>
  <%= link_to "Edit Profile", edit_user_path %>
</div>

<!-- If you want to check out what Devise has already made for us for Edit Profile, use the edit_user_registration_path -->
