<div class="developer-profile">
  <h1>Profile</h1>
  <p>first_name: <%= @user.first_name%></p>
  <p>last_name: <%= @user.last_name%></p>
  <p>public_profile_url: <%= @user.public_profile_url%></p>
  <p>bootcamp: <%= @user.bootcamp%></p>
  <p>email: <%= @user.email%></p>
  <button class="edit-profile">"Edit Profile"</button>
</div>

<div class="edit-developer-form">
  <%= form_for @user do |f| %>
    <%= f.text_field :first_name %>
    <%= f.text_field :last_name %>
    <%= f.text_field :public_profile_url %>
    <%= f.text_field :bootcamp %>
    <%= f.text_field :email %>
    <%= f.submit "Update" %>
  <% end %>
</div>

<!-- If you want to check out what Devise has already made for us for Edit Profile, use the edit_user_registration_path -->
