<%= render template: "layouts/other" %>
<div id='projects-container'>
  <h1>Projects</h1>
  <ul id='user<%=current_user.id%>'>
    <% if !current_user.org_affiliate %>
      <% @projects.each do |project| %>
        <li id='project<%= project.id %>'>
          <% bookmark = Bookmark.find_by(project_id: project.id, developer_id: current_user.id) %>
          <% if bookmark %>
            <%= render partial: "/bookmarks/bookmark_selected", locals: {project: project, bookmark: bookmark} %>
          <% else %>
            <%= render partial: "/bookmarks/unbookmark", :locals => {project: project} %>
          <% end %>
          <%= link_to project.title, project %></li>
          <p>Vision: <%= project.vision %></p>
          <p>For: <%= link_to project.organization.name, project.organization.website_url %></p>
      <% end %>
    <%else%>
      <li><% @project %></li>
    <% end %>
  </ul>
</div>

<!-- <div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="..." alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
    ...
  </div>
</div> -->

