<div id='projects-container'>
  <h1>Projects</h1>
  <ul id='user<%=current_user.id%>'>
    <% if !current_user.org_affiliate %>
      <% @projects.each do |project| %>
        <li id='project<%= project.id %>'>
          <% if Bookmark.find_by(project_id: project.id, developer_id: current_user.id) %>
            <%= render template: "/bookmarks/_bookmark_selected", locals: {@project: project} %>
          <% else %>
            <%= render template: "/bookmarks/_unbookmark", locals: {@project: project} %>
          <% end %>
          <%= link_to project.title, project %></li>
          <p>Vision: <%= project.vision %></p>
          <p>For: <%= link_to project.organization.name, project.organization.website_url %></p>
      <% end %>
    <%else%>
      <li><% @project %></li>
    <% end %>
  </ul>
</div>

