<h1>Project Proposal</h1>
<div><%= @project.title %></div>
<div><%= @organization.name %></div>
<div><%= @project.deadline %></div>
<div><%= @project.vision %></div>
<div><%= @project.need %></div>
<div><%= @project.description %></div>
<div><%= @project.benefit %></div>
<%= button_to "Update Project", project_path(@project), :class => "button", :method => :patch  %>
<%= button_to "Delete Project", project_path(@project), :class => "button", :method => :delete  %>
