
<%= render template: "layouts/other" %>
<div class="container org-partial">
   <div class="row">
      <div class="panel panel-info">
         <div class="panel-heading">
            <h3 class="panel-title"><%=@organization.name%></h3>
         </div>
         <div class="panel-body" id="panel-body-dev">
            <div class="row">
               <div class="col-md-3 col-lg-3 " align="center">
                  <%# if @organization.logo.url="/images/original/missing.png" %>
                     <%= image_tag @organization.logo.url(:medium), :class => "img-responsive img-rounded" %>
                  <%# else %>
                     <%#= image_tag('company-profile-default-logo.jpg', alt: "Organization Image")%>
                  <%# end%>
               </div>
               <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                     <tbody>
                        <tr>
                           <td>Mission/Description:</td>
                           <td><%= @organization.description %></td>
                        </tr>
                        <tr>
                           <td>Project List:</td>
                           <td><% @organization.projects.each do |project| %>
                              <%= link_to project.title, project_path(project) %><br>

                              <% end %><%= button_to "New Project", new_project_path, class: "btn btn-default" ,id:"new-project", :method => :get  %>
                           </td>
                        </tr>
                        <tr>
                           <td>Email</td>
                           <td><%= @user.email %></td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
            <div class="clearFloat">
               <%= button_to "Delete Account", organization_path(@organization), class: "btn btn-default", id:"delete-account", :method => :delete, :data => {confirm: "Are you sure?"} %>
               <%= button_to "Edit Account", edit_organization_path(@organization), class: "btn btn-default", id:"edit-account", :method => :get %>
               <%= hidden_field(:organization, :id) %>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
</div>
 <div class="footer">
         <footer>
            <h1 id="footer-code">&lt;&#47;code&gt;</h1>
         </footer>
</html>
