<%= render template: "layouts/other" %>
      <div id="update_org_form">
        <h1>Update Up Your Organization</h1>

    <%= form_for :organization, url: organizations_path, html: {id:"edit-org-form", role: "form"} do |f| %>
      <% if @organization.errors.any? %>
        <div id="error_explanation">
          <h3>
            <%= pluralize(@organization.errors.count, "error") %> prohibited
            this project from being saved:
          </h3>
        </div>
      <% end %>
      <div class="form-group">
          <%= f.label :name, "Organization Name" %>
            <%= error_show(@organization, :name) %>
            <%= f.text_field :name, class: "form-control" %>
          <%= f.label :website_url, "Website" %>
            <%= error_show(@organization, :website_url) %>
            <%= f.text_field :website_url, class: "form-control" %>
        <%= f.label :description %>
            <%= error_show(@organization, :description) %>
            <%= f.text_area :description, placeholder: "Add your mission or description here", class: "form-control" %><br>
              <%= hidden_field(:organization, :id) %>
        <%= f.submit "Update organization", class: "button update-org" %>
        <!-- <p> refactor Currently not updatable
          <%# f.label :logo %><br>
          <%# error_show(@organization, :logo) %>
          <%# f.file_field :logo, as: :file %>
        </p> -->
    </div>
  </div>
    <% end %>
    </body>
             <div class="footer">
         <footer>
            <h1>&lt;&#47;code&gt;</h1>
</footer>
  </html>


