
<script type="text/javascript">
$(document).ready(function(){
   $('html,body').animate({scrollTop: $('.jumbotron').height()}, "slow")
});
</script>

<h1 class="org-sign-up">Sign Up Your Organization</h1>
<div id="new_org_form" >
   <%= form_for :organization, url: organizations_path do |f| %>
   <% if @organization.errors.any? %>
   <div id="error_explanation">
      <p>
         <%= pluralize(@organization.errors.count, "error") %> prohibited
         this project from being saved:
      </p>
   </div>
   <% end %>
   <div class="form-group" id="org-sign-up-form">
      <div class="required">
         <%= f.label :name, "Organization Name" %>
      </div>
      <%= error_show(@organization, :name) %>
      <%= f.text_field :name, class: "form-control" %>

      <div>
         <%= f.label :website_url, "Website" %>
      </div>
      <% error_show(@organization, :website_url) %>
      <%= f.text_field :website_url, class: "form-control" %>


      <div class="required">
         <%= f.label :description, "Mission/Description" %>
      </div>
      <%= error_show(@organization, :description) %>
      <%= f.text_area :description, class: "form-control" %>

      <div>
         <%= f.label :logo, "Organization Logo" %><br>
         <%= f.file_field :logo, as: :file %>
      </div>

      <input type="checkbox" name="checkbox" value="check" id="org-agree" /> I have read and agree to <a href='#' class='agreement-alert'>Guidelines and Expectations</a>


      <%= f.submit %>
      <% end %>
   </div>
</div>





