<h1>Sign up your organization</h1>
  <div id="new_org_form" >
    <%= form_for :organization, url: organizations_path do |f| %>

      <% if @organization.errors.any? %>
        <div id="error_explanation">
          <h3>
            <%= pluralize(@organization.errors.count, "error") %> prohibited
            this project from being saved:
          </h3>
        </div>
      <% end %>
    <div class="form-group">
      <p>
       <div class="required"><%= f.label :name, "Organization Name" %></div>
        <%= error_show(@organization, :name) %>
        <%= f.text_field :name, class: "form-control" %>
      </p>

      <p>
        <div class="required"><%= f.label :website_url, "Website" %></div>
        <%= error_show(@organization, :website_url) %>
        <%= f.text_field :website_url, class: "form-control" %>
      </p>

      <p>
        <div class="required"><%= f.label :description %></div>
        <%= error_show(@organization, :description) %>
        <%= f.text_area :description, placeholder: "Add your mission or description here", class: "form-control" %>
      </p>

      <p>
        <%= f.submit %>
      </p>
    <div class="form-group">
    <% end %>
  </div>

