<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>&lt;code&gt;laborate</title>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1">
   </head>
   <body>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <script type="text/javascript">
            $('.sign').click(function(){
            $('html,body').animate({scrollTop: $('.jumbotron').height()}, "slow")
            });
            $('.about').click(function(){
            $('html,body').animate({scrollTop: $('.jumbotron').height()}, "slow")
            });
            $('.faq').click(function(){
            $('html,body').animate({scrollTop: $('.jumbotron').height()}, "slow")
            });
         </script>

      <nav class="nav navbar-nav navbar-right">

         <ul id='nav-bar' class="nav nav-pills">
            <li role="presentation"><%= link_to " Home", "/" %> </li>
            <li role="presentation"><%= link_to " About", "/about" , :class =>"about" %></li>
            <li role="presentation"><%= link_to " FAQ", "/FAQ", :class => "faq" %></li>
            <li role="presentation"><%= link_to " Past Projects", "/past_projects"%> </li>
            <% if current_user %>
               <% if !current_user.org_affiliate %>
             

                  <li role="presentation"><%= link_to 'Projects', projects_path, :class => 'navbar-link' %> </li>
               <% end %>
            <% else %>
               <li role="presentation"><%= link_to "Sign up", new_user_registration_path(anchor: "dev"), :class => 'navbar-link nav-bar-right' %></li>
               <li role="presentation"><%= link_to "Login", new_user_session_path(anchor: "org"), :class => 'navbar-link nav-bar-right sign'  %> </li>
            <% end %>
            <% if current_user %>
               <% if current_user.org_affiliate && current_user.organization.nil? %>
                  <li role="presentation"><%=link_to "Profile", new_organization_path(current_user.organization) %></li>
               <%elsif current_user.org_affiliate && current_user.organization %>
                     <li role="presentation"><%=link_to "Profile", organization_path(current_user.organization) %></li>
               <% else %>
                        <li role="presentation"><%=link_to "Profile", user_path(current_user.id) %></li>
               <% end %>

               <li role="presentation"><%= link_to "Logout", destroy_user_session_path, method: :delete %> </li>
            <% end %>
         </ul>
      </nav>
      <div class="jumbotron">
         <div class="container">
            <!-- Wrapper for carousel slides -->
            <div id="mycarousel" class="carousel-fade" data-ride="carousel">
               <div class="carousel-inner" role="listbox">
                  <div class="item active">
                     <%= image_tag('sanfrancisco.jpg', alt: "Image of San Francisco skyline") %>
                     <div class="carousel-caption">
                        <h1> &lt;code&gt;laborate </h1>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <% if notice %>
         <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
         <p class="alert alert-danger"><%= alert %></p>
      <% end %>
          <!-- <div class="container wrapper"> -->

      <%= yield %>

     <!-- <div id="scroll-here"></div> -->
      <div class="push"></div>
      <div class="footer">
         <footer>
            <h1 id="footer-code">&lt;&#47;code&gt;</h1>
         </footer>
      </div>
   </body>
</html>
