<!DOCTYPE html>
<html>
<head>
  <title>&lt;code&gt;laborate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<p class="navbar-text pull-right"></p>
<ul id='nav-bar'>
<% if current_user %>
  Logged in as <strong><%= current_user.email %></strong>.
  <% if current_user.org_affiliate %>
    <li><%= link_to 'Profile', current_user.organization, :class => 'navbar-link' %> | </li>
  <% else %>
    <li><%= link_to 'Profile', current_user, :class => 'navbar-link' %> | </li>
    <li><%= link_to 'Projects', projects_path, :class => 'navbar-link' %> | </li>
  <% end %>
  <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> </li>

<% else %>
  <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> | </li>
  <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> | </li>
<% end %>
   <li><%= link_to " Home", "/", :class => 'navbar-link' %> | </li>
   <li><%= link_to " About", "/about", :class => 'navbar-link' %> | </li>
   <li><%= link_to " FAQ", "/FAQ", :class => 'navbar-link' %> | </li>
   <li><%= link_to " Past Projects", "/past_projects", :class => 'navbar-link' %> | </li>
</ul>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%= yield %>
<footer><h1>&lt;&#47;code&gt;</h1></footer>
</body>
</html>
